<h1>My Boards</h1>
<ul>
<% boards.each(function(board) { %>
<li data-id="<%= board.get('id') %>">
  <a href="#/board/<%= board.get('id') %>" class="board-link"><%= board.get('title') %></a>
  <button class="delete-btn">Delete</button>
</li>
<% }); %>
</ul>