<!-- <li class="card"> <div> -->
<div class="card-header">
  <h3><%= card.title %></h3>
  <p><%= card.description %></p>
</div>
<ul>
  <% card.items.each(function (item) { %>
  <li>
    <ul>
      <li><%= item.title %></li>
    </ul>
  </li>
  <% }); %>
</ul>
<!-- </div> </li> -->