<form class="list-form">
  <div class="form-group">
    <input
      name="title"
      type="text"
      class="form-control list-title-input"
      placeholder="My Sweet New List">
  </div>

  <input type="submit" value="Create!" class="btn btn-default">
</form>