<h3>Make a new list!</h3>
<div class="list-header-div">
  <h2 class="list-header"><%= list.escape('title') %></h2>
</div>

<div class="card-list">
  <form class="list-form">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="My Sweet New List">
    </div>

    <submit class="btn btn-default">Create!</submit>
  </form>
</div>