<form id="new-list-form">
  <input type="text" id="title" placeholder="List Title">

  <textarea id="description" placeholder="List description (optional)"></textarea>
  <input type='submit'>Submit</input>
</form>
