<div class="list-header-div">
  <h2 class="list-header"><%= list.escape('title') %></h2>
</div>
<div class="card-list">

</div>

<div class="new-card">
  <div class="panel-heading">
    <p class="list-header">Make a new card!</p>
  </div>
  <div class="panel-body"></div>
  <ul class="item-list list-group">
  </ul>
</div>