/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


body {
  font-family: sans-serif;
  background: #5483C4;
}

.content {
  padding: 5px 15px 15px 15px;
  background: white;
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
}

.delete-btn {
  border-radius: 5px;
  background: #5483C4;
  color: white;
  font-family: sans-serif;
  padding: 5px;
}

h1 {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

a.board-link {
  font-weight: bold;
  font-size: 18px;
}